.column-wrap {
  // display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.column {
  margin: 10px 15px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.form-group {
  margin-bottom: 15px;
  &:last-child {
    margin: 0;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
}

.display-img {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

.login__form {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
